<footer>
    <div class="title_footer">
        <h1>Site links</h1>
    </div>
    <div class="box_footer">
        <div class="options">
            <p><a href="" ">Contatc us</a></p>
            <p><a href="" ">About us</a></p>
            <p><a href="" ">Directions</a></p>
            <p><a href="" ">Blog</a></p>
        </div>
        <div class="options_2">
            <p><a href="" ">Promotions</a></p>
            <p><a href="" ">Partners</a></p>
            <p><a href="" ">Careers</a></p>
            <p><a href="" ">FAQs</a></p>
        </div>
        <div class="options_3">
            <p><a href="" ">WinStar Wallpapers</a></p>
            <p><a href="" ">Central Park At WinStar Village</a></p>
            <p><a href="" ">Responsible Gaming</a></p>
            <p><a href="" ">Media</a></p>
        </div>
    </div>
</footer>